---
import Navigation from '../components/Navigation.astro';
import "../style/base.css";

interface Props {
	title: string;
	description: string;
	keywords: string;
	lang: string;
}

const { title, description, keywords, lang } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL("/logo.svg", Astro.url);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
		<meta name="viewport" content="width=device-width" />
		<link rel="preload" href="/legaliser.svg" as="image" type="image/svg+xml; charset=us-ascii" />
		<link rel="preload" href="/font/gill_sans_extra_condensed_bold.woff2" as="font" type="application/octet-stream; charset=binary" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="canonical" href={canonicalURL} />
		<meta name="theme-color" content="#00A14B" />

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content={canonicalURL}>
		<meta property="og:type" content="website">
		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
		<meta property="og:image" content={socialImageURL}>

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content={Astro.site.hostname}>
		<meta property="twitter:url" content={canonicalURL}>
		<meta name="twitter:title" content={title}>
		<meta name="twitter:description" content={description}>
		<meta name="twitter:image" content={socialImageURL}>

		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body>
		<header>
			<Navigation />
		</header>
		<slot />
	</body>
</html>
