---
import Navigation from '../components/Navigation.astro';
import "../style/base.css";

interface Props {
	title: string;
	description: string;
	keywords: string;
	lang: string;
}

const { title, description, keywords, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
		<meta name="viewport" content="width=device-width" />
		<link rel="preload" href="/legaliser.svg" as="image" type="image/svg+xml; charset=us-ascii" />
		<link rel="preload" href="/font/gill_sans_extra_condensed_bold.woff2" as="font" type="application/octet-stream; charset=binary" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<Navigation />
		</header>
		<slot />
	</body>
</html>
