---
interface Props {
	title: string;
	description: string;
	tel?: string;
	email?: string;
	quotes: string[];
}

const { title, description, tel, email } = Astro.props;
const altText = `Billede af ${description}, ${title}.`
---

<li class="link-card">
	<h2>{title}</h2>
	<slot></slot>
	{ tel && <div><span>Tlf: </span><tel>{tel}</tel></div> }
	{ email && <div><span>Email: </span><a href="mailto:{email}">{email}</a></div> }
</li>
<style>
	/*.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}*/
	quote::before { content:"“"; }
	quote::after { content:"”"; }
</style>
